.info-pane-hover {
  // display: block;
  position: relative;
  border: 2px solid black;
  margin-left: @windowMarginLeft;
  z-index: 10;
  max-width: 155px;
  background-color: @colorBlack;
}
.power-hover {
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  color: @colorWhite;
  background-color: @colorBlack;
  width: 75px;
  box-sizing: border-box;
  .button;
}
.allies {
  background-color: @colorAllies;
}
.axis {
  background-color: @colorAxis;

}
.hr-span {
  // display: block;
  height: 3px;
  width: 100%;
  background-color: @colorWhite;
}
