.country-pane-hover {
  max-width: 100%;
  background-color: @colorBlack;
  height: 44px;
}
.power-hover {
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  color: @colorWhite;
  background-color: @colorBlack;
  width: 75px;
  box-sizing: border-box;
  vertical-align: top;
  .button;
}
.allies {
  background-color: @colorAllies;
}
.axis {
  background-color: @colorAxis;

}
.hr-span {
  // display: block;
  height: 3px;
  width: 100%;
  background-color: @colorWhite;
}
.sidebar-game-controls {
  width: 285px;
  background-color: white;
  border: 2px solid black;
  z-index: 10;
  position: relative;
  margin: @windowMarginLeft;
  .BoxShadowHelper(5);
}
.axis-flag, .ally-flag {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.history-details {
  width: 100%;
  padding: 0px;
  margin:0px;
  display: block;
  font-family: 'Allerta Stencil';
  > .title {
    font-size: 200%;
    padding-left: 8px;
  }
  > .text {
    padding: 0px 8px 8px 8px;
  }
  > button {
    display: block;
    font-size: 200%;
    background-color: @armyGreen;
    text-align: center;
    margin: 8px auto;
    cursor: pointer;
    font-family: 'Allerta Stencil';
  }
}
