.map-date-info {
  margin-left: 45%;
  position: absolute;
  bottom: 70px;
  border: 2px solid @colorBlack;
  padding: 4px 6px;
  background-color: @colorWhite;
  z-index: 50;
  .BoxShadowHelper(3);
  .no-select;
  .europe-label, .date-label {
    display: block;
    margin: 0px;
    padding: 0px;
    position: relative;
  }
  .europe-label {
    font-size: 250%;
    line-height: 75%;
  }
  .date-label {
    font-size: 150%;
    line-height: 80%;
  }
}
