.timeline-control-panel {
  position: absolute;
  left: 28px;
  bottom: 24px;
  width: 64px;
  height: 64px;
  padding: 8px 12px;
  &.playing {
    .play {
      display: none;
    }
    .pause {
      display: inline-block;
    }
  }
}

.play, .pause {
  cursor: pointer;
  position: absolute;
  top: 24px;
  width: 44px;
  height: 56px;
}

.play {
  display: inline-block;
  left: 37px;
  background-image: url(../sprites/ic_play_arrow_48px.svg);
  &:hover {
    background-image: url(../sprites/ic_play_arrow_active_44x56px.svg);
  }
}
.pause {
  display: none;
  left: 32px;
  background-image: url(../sprites/ic_pause_44x56px.svg);
  &:hover {
    background-image: url(../sprites/ic_pause_active_44x56px.svg);
  }
}
