.timeline-control-panel {
  padding: 0px;
  width: 100%;
  height: 100%;

  &.playing {
    .play {
      display: none;
    }
    .pause {
      display: inline-block;
    }
  }
  &.auto-playing {
    .auto-play {
      display: none;
    }
    .auto-play-pause {
      display: inline-block;
    }
    .play, .pause {
      opacity: 0.25;
    }
  }

}
.timeline-buttons {
  margin: 20px 0px 0px 6px;
}
.play, .pause, .auto-play, .auto-play-pause {
  cursor: pointer;
  width: 64px;
  height: 64px;
}

.play {
  display: inline-block;
  background-image: url(../sprites/play-64px.svg);
  &:hover {
    background-image: url(../sprites/play-hover-64px.svg);
  }
}
.pause, .auto-play-pause {
  display: none;
  background-image: url(../sprites/pause-64px.svg);
  &:hover {
    background-image: url(../sprites/pause-hover-64px.svg);
  }
}
.auto-play {
  display: inline-block;
  background-image: url(../sprites/auto-play-64px.svg);
  &.disabled {
    opacity: 0.25;
  }
  &:hover {
    background-image: url(../sprites/auto-play-hover-64px.svg);
  }
}
