//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:c9b0ea1121c3cacb4ffb22545cb8778d:e6a67120c4fbd710333734aeeb4457a1:54655ecb06c12232790008d5d97e6a14$
//

.sprite-countryFlags256 { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('countryFlags256.png'); }

.countryFlags256-switzerland { width: 259px; height: 258px; background-position: -1px -1px; }
.countryFlags256-denmark { width: 258px; height: 190px; background-position: -1px -261px; }
.countryFlags256-norway { width: 258px; height: 189px; background-position: -262px -1px; }
.countryFlags256-netherlands { width: 262px; height: 175px; background-position: -522px -1px; }
.countryFlags256-portugal { width: 260px; height: 175px; background-position: -1px -453px; }
.countryFlags256-eastprussia { width: 259px; height: 173px; background-position: -1px -630px; }
.countryFlags256-france { width: 259px; height: 173px; background-position: -1px -805px; }
.countryFlags256-spain { width: 258px; height: 174px; background-position: -1px -980px; }
.countryFlags256-albania { width: 258px; height: 173px; background-position: -1px -1156px; }
.countryFlags256-latvia { width: 258px; height: 131px; background-position: -1px -1331px; }
.countryFlags256-belgium { width: 260px; height: 158px; background-position: -262px -192px; }
.countryFlags256-greece { width: 258px; height: 173px; background-position: -524px -178px; }
.countryFlags256-italy { width: 258px; height: 173px; background-position: -263px -352px; }
.countryFlags256-rumania { width: 258px; height: 173px; background-position: -523px -353px; }
.countryFlags256-finland { width: 258px; height: 160px; background-position: -263px -527px; }
.countryFlags256-yugoslovia { width: 258px; height: 173px; background-position: -262px -689px; }
.countryFlags256-poland { width: 260px; height: 163px; background-position: -523px -528px; }
.countryFlags256-estonia { width: 257px; height: 164px; background-position: -522px -693px; }
.countryFlags256-bulgaria { width: 260px; height: 156px; background-position: -262px -864px; }
.countryFlags256-sweden { width: 258px; height: 162px; background-position: -261px -1022px; }
.countryFlags256-germany { width: 264px; height: 150px; background-position: -261px -1186px; }
.countryFlags256-russia { width: 264px; height: 150px; background-position: -524px -859px; }
.countryFlags256-unitedkingdom { width: 271px; height: 144px; background-position: -521px -1022px; }
.countryFlags256-lithuana { width: 258px; height: 131px; background-position: -527px -1168px; }
.countryFlags256-ireland { width: 258px; height: 130px; background-position: -527px -1301px; }
