//
// Created with TexturePacker - https://www.codeandweb.com/texturepacker
//
// SmartUpdateHash: $TexturePacker:SmartUpdate:786e5d55f6f99238fcd272d1bc56cb32:af54dbaed45c87bf9f869b687d82f08a:54655ecb06c12232790008d5d97e6a14$
//

.sprite-countryFlags256 { display:inline-block; overflow: hidden; background-repeat: no-repeat; background-image: url('countryFlags256.png'); }

.countryFlags256-albania { width: 128px; height: 128px; background-position: -1px -1px; }
.countryFlags256-belgium { width: 128px; height: 128px; background-position: -1px -131px; }
.countryFlags256-bulgaria { width: 128px; height: 128px; background-position: -1px -261px; }
.countryFlags256-denmark { width: 128px; height: 128px; background-position: -1px -391px; }
.countryFlags256-eastprussia { width: 128px; height: 128px; background-position: -1px -521px; }
.countryFlags256-estonia { width: 128px; height: 128px; background-position: -1px -651px; }
.countryFlags256-finland { width: 128px; height: 128px; background-position: -1px -781px; }
.countryFlags256-france { width: 128px; height: 128px; background-position: -131px -1px; }
.countryFlags256-germany { width: 128px; height: 128px; background-position: -131px -131px; }
.countryFlags256-germanyAlpha { width: 128px; height: 128px; background-position: -131px -261px; }
.countryFlags256-greece { width: 128px; height: 128px; background-position: -131px -391px; }
.countryFlags256-hungary { width: 128px; height: 128px; background-position: -131px -521px; }
.countryFlags256-ireland { width: 128px; height: 128px; background-position: -131px -651px; }
.countryFlags256-italy { width: 128px; height: 128px; background-position: -131px -781px; }
.countryFlags256-latvia { width: 128px; height: 128px; background-position: -261px -1px; }
.countryFlags256-lithuania { width: 128px; height: 128px; background-position: -261px -131px; }
.countryFlags256-netherlands { width: 128px; height: 128px; background-position: -261px -261px; }
.countryFlags256-norway { width: 128px; height: 128px; background-position: -261px -391px; }
.countryFlags256-poland { width: 128px; height: 128px; background-position: -261px -521px; }
.countryFlags256-portugal { width: 128px; height: 128px; background-position: -261px -651px; }
.countryFlags256-rumania { width: 128px; height: 128px; background-position: -261px -781px; }
.countryFlags256-russia { width: 128px; height: 128px; background-position: -391px -1px; }
.countryFlags256-spain { width: 128px; height: 128px; background-position: -391px -131px; }
.countryFlags256-sweden { width: 128px; height: 128px; background-position: -391px -261px; }
.countryFlags256-switzerland { width: 128px; height: 128px; background-position: -391px -391px; }
.countryFlags256-unitedkingdom { width: 128px; height: 128px; background-position: -391px -521px; }
.countryFlags256-yugoslovia { width: 128px; height: 128px; background-position: -391px -651px; }
.countryFlags256-stripe { width: 89px; height: 128px; background-position: -391px -781px; }
