@import "./base/variables.less";
@import "./base/mixins.less";


  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.appView {
  width: 100%;
  height: 100%;
  canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
  }
}
